<!-- Include Bootstrap CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<footer class="page-footer" style="background-color: #f8f9fa; padding: 20px; margin-top: 50px; color: black;">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h5 style="font-weight: bold; text-transform: uppercase;">About</h5>
        <p style="color: #555555;">Welcome to Creative Blogs, a platform for creative minds to share their thoughts, ideas, and experiences.</p>
      </div>
      <div class="col-md-4">
        <h5 style="font-weight: bold; text-transform: uppercase;">Categories</h5>
        <ul class="list-unstyled" >
          <li><a href="#">Category 1</a></li>
          <li><a href="#">Category 2</a></li>
          <li><a href="#">Category 3</a></li>
          <li><a href="#">Category 4</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <h5 style="font-weight: bold; text-transform: uppercase;">Follow Us</h5>
        <ul class="list-unstyled">
          <li><a href="#"><i class="fab fa-facebook fa-lg"></i> Facebook</a></li>
          <li><a href="#"><i class="fab fa-twitter fa-lg"></i> Twitter</a></li>
          <li><a href="#"><i class="fab fa-instagram fa-lg"></i> Instagram</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="bg-dark" style="padding: 10px;">
    <div class="container">
      <div class="row">
        <div class="col-12 text-center text-white">
          &copy; 2023 IBLOGS. All rights reserved.
        </div>
      </div>
    </div>
  </div>
</footer>

<!-- Include Bootstrap JS and Font Awesome -->
<script src="https://kit.fontawesome.com/7cfc77a3a3.js" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U
